{{#> main}}
{{#*inline "body"}}

<body class="overflow-x-hidden">
    <main class="">
            <div class="mx-auto flex">
            <div class="container min-w-full min-h-full px-10 py-5">
                <div class="flex bg-cover bg-center rounded-3xl items-center" style="background-image: url(../src/img/blogs/header-bg.png)">
                    <div class="font-mono pl-24 py-16 w-2/5">
                        <p class="text-5xl font-quicksand ">Snack</p>
                        <div class="text-gray-500 pt-5 ">
                            <a href="index.html" class="cursor-pointer text-green-500 text-xs font-semibold">
                                <ion-icon name="home-outline" class="fi-rs-home mr-1 leading-0"></ion-icon>Home
                            </a>
                            <span class="text-xs font-semibold">
                                <ion-icon name="chevron-forward-outline" class="text-xs px-2" style="font-size: 9px;"></ion-icon> Shop
                            </span>
                            <span class="text-xs font-semibold">
                                <ion-icon name="chevron-forward-outline" class="text-xs px-2" style="font-size: 9px"></ion-icon> Snack
                            </span>
                        </div>
                    </div>
                    <div class="max-xl:hidden px-5 items-center w-2/5">
                        <ul class="list-none flex">
                            <li class="hover-up transition-all duration-700">
                                <a class="flex py-2.5 px-5 mr-2 mb-2 cursor-pointer text-base font-medium text-green-500 focus:outline-none bg-white rounded-full border border-gray-200 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-200 hover:translate-y-2 transition-all duration-300 ">
                                    <ion-icon name="close-outline" class="text-gray-500 text-lg mr-3 mt-1 font-sans"></ion-icon>Cabbage
                                </a>
                            </li>
                            <li class="hover-up transition-all duration-700">
                                <a class="flex py-2.5 px-5 mr-2 mb-2 cursor-pointer text-base font-medium text-gray-800 focus:outline-none bg-white rounded-full border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200 hover:translate-y-2 transition-all duration-300">
                                    <ion-icon name="close-outline" class="text-gray-500 text-lg mr-3 mt-1 font-sans"></ion-icon>Broccoli
                                </a>
                            </li>
                            <li class="hover-up transition-all duration-700">
                                <a class="flex py-2.5 px-5 mr-2 mb-2 cursor-pointer text-base font-medium text-green-500 focus:outline-none bg-white rounded-full border border-gray-200 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-200 hover:translate-y-2 transition-all duration-300 ">
                                    <ion-icon name="close-outline" class="text-gray-500 text-lg mr-3 mt-1 font-sans"></ion-icon>Artichoke
                                </a>
                            </li>
                            <li class="hover-up transition-all duration-700">
                                <a class="flex py-2.5 px-5 mr-2 mb-2 cursor-pointer text-base font-medium text-green-500 focus:outline-none bg-white rounded-full border border-gray-200 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-200 hover:translate-y-2 transition-all duration-300 ">
                                    <ion-icon name="close-outline" class="text-gray-500 text-lg mr-3 mt-1 font-sans"></ion-icon>Celery
                                </a>
                            </li>
                            <li class="hover-up transition-all duration-700">
                                <a class="flex py-2.5 px-5 mr-2 mb-2 cursor-pointer text-base font-medium text-green-500 focus:outline-none bg-white rounded-full border border-gray-200 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-200 hover:translate-y-2 transition-all duration-300 ">
                                    <ion-icon name="close-outline" class="text-gray-500 text-lg mr-3 mt-1 font-sans"></ion-icon>Spinach
                                </a>
                            </li>
                        </ul>
                    </div>       
                </div>
            </div>
        </div>
        <div class="mx-auto flex pl-7 py-10  max-xl:flex-col">
            <!--Left bar-->
            <div class="mx-auto max-xl:hidden w-1/4 pr-5">
                <div class="sticky top-0">
                    <!--Cagetory-->
                    <div class="border border-gray-200 rounded-lg shadow-md">
                        <div class="px-7 pt-6">
                            <h1 class="text-2xl font-semibold font-quicksand text-gray-800">Cagetory</h1>
                        </div>
                        <div class="md:my-6">
                            <hr class="w-2/6 h-0.5 mx-9 bg-green-200 border-0 rounded " >
                            <hr class="w-3.5/5 h-0.5 mx-9 bg-gray-200 border-0 rounded " >
                        </div>
                        <ul class="px-7 pb-4">
                            <li class="flex justify-between border border-gray-200 hover:border-green-300 hover:shadow-md rounded-md px-3 py-2 transition-all duration-300 mb-3">
                                <img class="w-8 cursor-pointer" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/category-1.svg" />
                                <p class="text-sm text-gray-700 pt-1.5 cursor-pointer hover:text-green-400 transition-all duration-300">Milk & Dairies</p>
                                <div class="pt-2">
                                    <p class="text-xs text-gray-700 rounded-full w-5 bg-emerald-200 pl-1.5">0</p>
                                </div>
                            </li>
                            <li class="flex justify-between border border-gray-200 hover:border-green-300 hover:shadow-md rounded-md px-3 py-2 transition-all duration-300 mb-3">
                                <img class="w-8 cursor-pointer" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/category-2.svg" />
                                <p class="text-sm text-gray-700 pt-1.5 cursor-pointer hover:text-green-400 transition-all duration-300">Clothing</p>
                                <div class="pt-2">
                                    <p class="text-xs text-gray-700 rounded-full w-5 bg-emerald-200 pl-1.5">0</p>
                                </div>
                            </li>
                            <li class="flex justify-between border border-gray-200 hover:border-green-300 hover:shadow-md rounded-md px-3 py-2 transition-all duration-300 mb-3">
                                <img class="w-8 cursor-pointer" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/category-3.svg" />
                                <p class="text-sm text-gray-700 pt-1.5 cursor-pointer hover:text-green-400 transition-all duration-300">Pet Foods</p>
                                <div class="pt-2">
                                    <p class="text-xs text-gray-700 rounded-full w-5 bg-emerald-200 pl-1.5">0</p>
                                </div>
                            </li>
                            <li class="flex justify-between border border-gray-200 hover:border-green-300 hover:shadow-md rounded-md px-3 py-2 transition-all duration-300 mb-3">
                                <img class="w-8 cursor-pointer" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/category-4.svg" />
                                <p class="text-sm text-gray-700 pt-1.5 cursor-pointer hover:text-green-400 transition-all duration-300">Baking Material</p>
                                <div class="pt-2">
                                    <p class="text-xs text-gray-700 rounded-full w-5 bg-emerald-200 pl-1.5">0</p>
                                </div>
                            </li>
                            <li class="flex justify-between border border-gray-200 hover:border-green-300 hover:shadow-md rounded-md px-3 py-2 transition-all duration-300 mb-3">
                                <img class="w-8 cursor-pointer" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/theme/icons/category-5.svg" />
                                <p class="text-sm text-gray-700 pt-1.5 cursor-pointer hover:text-green-400 transition-all duration-300">Fresh Fruit</p>
                                <div class="pt-2">
                                    <p class="text-xs text-gray-700 rounded-full w-5 bg-emerald-200 pl-1.5">0</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--Fill by price-->
                    <div class="border border-gray-200 rounded-lg shadow-md mt-10 bg-right-bottom bg-no-repeat" style="background-image: url(https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/fillter-widget-bg.png);">
                        <div class="px-7 pt-6">
                            <h1 class="text-2xl font-semibold font-quicksand text-gray-800">Fill by price</h1>
                        </div>
                        <div class="md:my-6">
                            <hr class="w-2/6 h-0.5 mx-9 bg-green-200 border-0 rounded " >
                            <hr class="w-3.5/5 h-0.5 mx-9 bg-gray-200 border-0 rounded " >
                        </div>
                        <!--Range slider filter price-->
                        <div class="px-8 pt-8">
                            <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
                            <style>
                                input[type=range]::-webkit-slider-thumb {
                                    pointer-events: all;
                                    width: 24px;
                                    height: 24px;
                                    -webkit-appearance: none;
                                }   
                            </style> 
                            <div class="flex justify-center items-center">
                                <div x-data="range()" x-init="mintrigger(); maxtrigger()" class="relative w-5/6">
                                    <div>
                                        <input type="range"
                                                step="100"
                                                x-bind:min="min" x-bind:max="max"
                                                x-on:input="mintrigger"
                                                x-model="minprice"
                                                class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

                                        <input type="range" 
                                                step="100"
                                                x-bind:min="min" x-bind:max="max"
                                                x-on:input="maxtrigger"
                                                x-model="maxprice"
                                                class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">

                                        <div class="relative z-10 h-2">
                                            <div class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md bg-gray-300"></div>
                                            <div class="absolute z-20 top-0 bottom-0 rounded-md bg-green-400" x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'"></div>
                                            <div class="absolute z-30 w-6 h-6 top-0 left-0 bg-green-400 rounded-full -mt-2 -ml-1" x-bind:style="'left: '+minthumb+'%'"></div>
                                            <div class="absolute z-30 w-6 h-6 top-0 right-0 bg-green-400 rounded-full -mt-2 -mr-3" x-bind:style="'right: '+maxthumb+'%'"></div>
                                        </div>
                                    </div>
                                    <div class="flex justify-between items-center py-5">
                                        <div class="flex">
                                            <p class="mt-2 text-xs text-gray-500">From:</p>
                                            <div class="flex">
                                                <p class="text-green-500 mt-2 text-xs ml-2">$</p>
                                                <input type="text" maxlength="4" x-on:input="maxtrigger" x-model="minprice" class="px-1 py-1 text-xs text-green-500 border border-gray-100 rounded w-10 h-8 text-center">
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <p class="mt-2 text-xs text-gray-500">To:</p>
                                            <div class="flex">
                                                <p class="text-green-500 mt-2 text-xs ml-2">$</p>
                                                <input type="text" maxlength="4" x-on:input="maxtrigger" x-model="maxprice" class="px-1 py-1 text-xs text-green-500 border border-gray-100 rounded w-10 h-8 text-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <!--Color checkbox-->
                        <div class="px-14 py-0">
                            <div class="pb-5">
                                <p class="text-xs text-gray-800">Color</p>
                                <div class="flex p-2">
                                    <input type="checkbox" class="mr-2" />
                                    <p class="text-xs">Red (56)</p>
                                </div>
                                <div class="flex p-2">
                                    <input type="checkbox" class="mr-2" />
                                    <p class="text-xs">Green (78)</p>
                                </div>
                                <div class="flex p-2">
                                    <input type="checkbox" class="mr-2" />
                                    <p class="text-xs">Blue (54)</p>
                                </div>
                            </div>
                            <div class="pb-5">
                                <p class="text-xs text-gray-800">Item Condition</p>
                                <div class="flex p-2">
                                    <input type="checkbox" class="mr-2" />
                                    <p class="text-xs">New (1506)</p>
                                </div>
                                <div class="flex p-2">
                                    <input type="checkbox" class="mr-2" />
                                    <p class="text-xs">Refurbisher (27)</p>
                                </div>
                                <div class="flex p-2">
                                    <input type="checkbox" class="mr-2" />
                                    <p class="text-xs">Used (45)</p>
                                </div>
                            </div>
                        </div>
                        <!--Filter button-->
                        <div class="px-14 pb-5">
                            <button class="flex text-xs text-white bg-green-500 px-4 py-2">
                                <ion-icon name="funnel-outline" class="text-xs mr-1"></ion-icon> Filter
                            </button>
                        </div>
                    </div>

                    <!--New Product-->
                    <div class="border border-gray-200 rounded-lg shadow-md mt-10">
                        <div class="px-7 pt-6">
                            <h1 class="text-2xl font-semibold font-quicksand text-gray-800">New Products</h1>
                        </div>
                        <div class="md:my-6">
                            <hr class="w-2/6 h-0.5 mx-9 bg-green-200 border-0 rounded " >
                            <hr class="w-3.5/5 h-0.5 mx-9 bg-gray-200 border-0 rounded " >
                        </div>
                        <div class="flex">
                                <img class="w-2/6 h-1/3" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-3.jpg">
                                <div class=" grid-cols-3 p-5">
                                <h1 class="text-2xl text-green-500 font-quicksand font-bold">Chen Cardigan</h1>
                                <p>$99.50</p>
                                <div class="flex">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fas"
                                data-icon="star-half-alt"
                                class="w-4 text-yellow-500"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 536 512"
                            >
                                <path
                                fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z"
                                ></path>
                                </svg>
                            </div>
                            </div>
                        </div>
                        <div class="flex">
                                <img class="w-2/6 h-1/3" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-4.jpg">
                                <div class=" grid-cols-3 p-5">
                                <h1 class="text-2xl text-green-500 font-quicksand font-bold">Chen Sweater</h1>
                                <p>$89.50</p>
                                <div class="flex">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fas"
                                data-icon="star-half-alt"
                                class="w-4 text-yellow-500"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 536 512"
                            >
                                <path
                                fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z"
                                ></path>
                                </svg>
                            </div>
                            </div>
                        </div>
                        <div class="flex">
                                <img class="w-2/6 h-1/3" src="https://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-5.jpg">
                                <div class=" grid-cols-3 p-5">
                                <h1 class="text-2xl text-green-500 font-quicksand font-bold">Colorful Jacket</h1>
                                <p>$25</p>
                                <div class="flex">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fas"
                                data-icon="star-half-alt"
                                class="w-4 text-yellow-500"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 536 512"
                            >
                                <path
                                fill="currentColor"
                                d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z"
                                ></path>
                                </svg>
                            </div>
                            </div>
                        </div>
                    </div>

                    <!--Oganic-->
                    <div class="relative border border-gray-200 rounded-lg shadow-md mt-10">
                        <img src="https://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-11.png">
                        <div class="absolute top-1/4 left-1/5 px-9">
                            <p class="text-sm text-gray-400">Oganic</p>
                            <h1 class="text-2xl font-quicksand font-medium hover:-translate-y-1.5 transition-all duration-300">Save 17% on <p class="text-green-500">Oganic</p> Juice
                            </h1>
                        </div>
                    </div>
                </div>  
            </div>
            <!--Right bar-->
            <div class="mx-auto">
                <div class="flex">
                    <div class="float-left pt-10 ">
                        <div class="text-gray-500 font-bold font-quicksand">
                            <p>We found <strong class="text-green-400">{{products.products.length}}</strong> items for you</p>
                        </div>
                    </div>
                    <div class="absolute right-0 pl-8 pt-8 pb-8 pr-32 flex">
                        <div>
                            <details class="dropdown inline-block rounded-md">
                                <summary class="m-1 btn list-none cursor-pointer transition-all duration-300 text-gray-500 bg-white hover:shadow-md focus:ring-gray-200 rounded-lg text-sm px-5 pt-3">
                                    <div class="inline-block">
                                        <ion-icon name="grid-outline" class="mr-1 text-xs inline-block"></ion-icon>
                                        <span class="inline-block mb-3">Show:</span>
                                    </div>
                                    <div class="inline-block">
                                        <span class="inline-block mr-1">50</span>
                                        <ion-icon name="chevron-down-outline" class="inline-block text-xs"></ion-icon>
                                    </div>
                                </summary>
                                <ul class="py-2 text-sm text-gray-500 dark:text-gray-200 bg-white">
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="text-green-500 mr-1 pl-3  !hover:text-white"></ion-icon>50
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>100
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>150
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>200
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>All
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </div>
                        <div>
                            <details class="dropdown inline-block rounded-md">
                                <summary class="m-1 btn list-none cursor-pointer transition-all duration-300 text-gray-500 bg-white hover:shadow-md focus:ring-gray-200 rounded-lg text-sm px-5 pt-3">
                                    <div class="inline-block">
                                        <ion-icon name="grid-outline" class="mr-1 text-xs inline-block"></ion-icon>
                                        <span class="inline-block mb-3">Sort by:</span>
                                    </div>
                                    <div class="inline-block">
                                        <span class="inline-block mr-1">Featured</span>
                                        <ion-icon name="chevron-down-outline" class="inline-block text-xs"></ion-icon>
                                    </div>
                                </summary>
                                <ul class="py-2 text-sm text-gray-500 dark:text-gray-200 bg-white">
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="text-green-500 mr-1 pl-3  !hover:text-white"></ion-icon>50
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>100
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>150
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>200
                                        </a>
                                    </li>
                                    <li class="mb-3 transition-all duration-300 hover:bg-green-400 p-1">
                                        <a href="#" class="pr-5 py-2  hover:text-white transition-all duration-300 ">
                                            <ion-icon name="checkmark-outline" class="opacity-0 mr-1 pl-3"></ion-icon>All
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </div>
                    </div>
                </div>   
                <!--Products-->
                {{#each products.products}}
                <div class="pt-9">
                    <div class="">
                        <div class="mb-7 rounded-lg flex">
                            <!--Image Product-->
                            <div class="border border-gray-200 rounded-3xl relative cursor-pointer">
                                <div class="img-zoom group cursor-pointer">
                                    <a class="relative w-80 h-80 items-center justify-center flex">
                                        <img src={{images.[0]}} alt="product" class="group-hover:opacity-0">
                                        <img src={{images.[1]}} alt="product" class="opacity-0 group-hover:opacity-100 transition-all group-hover:duration-300 absolute top-0 flex h-full w-full rounded-3xl">
                                        <div class="inline-flex opacity-0 group-hover:opacity-100 absolute transition-all group-hover:duration-300" role="group">
                                            <button
                                            type="button"
                                            class="group/wishlist -ml-0.5 inline-block border-2 border-primary px-3 pb-[6px] pt-2 text-xs uppercase leading-normal text-primary bg-white hover:bg-gray-200"
                                            data-te-ripple-init
                                            data-te-ripple-color="light">
                                                <ion-icon name="heart-outline" class="text-green-500"></ion-icon>
                                                <div id="wishlist-popup" class="opacity-0 group-hover/wishlist:opacity-100 group-hover/wishlist:transition-all group-hover/wishlist:ease-out group-hover/wishlist:duration-300 group-hover/wishlist:transform group-hover/wishlist:-translate-y-1 absolute bottom-5 right-6">
                                                    <div  class=" w-24 h-1/2 my-4 mx-4 border-4 rounded-t-lg rounded-b-lg p-5 pb-0 text-center border-green-500 bg-green-500 relative text-xs transition-all duration-300 before:w-0 before:h-0 before:absolute before:border-solid before:border-l-8 before:border-l-transparent before:border-r-8 before:border-r-transparent before:border-t-8 before:border-t-green-600 before:border-b-8 before:border-b-transparent before:right-1/2
                                                    before:-bottom-4">
                                                        <p class="top-0 left-0 absolute text-white text-xs normal-case">Add To Wishlist</p>
                                                    </div>
                                                </div>
                                            </button>
                                            <button
                                            type="button"
                                            class="group/compare -ml-0.5 inline-block border-2 border-primary px-3 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary bg-white hover:bg-gray-200"
                                            data-te-ripple-init
                                            data-te-ripple-color="light">
                                                <ion-icon name="shuffle-outline" class="text-green-500"></ion-icon>
                                                <div class="opacity-0 group-hover/compare:opacity-100 group-hover/compare:transition-all group-hover/compare:ease-out group-hover/compare:duration-300 group-hover/compare:transform group-hover/compare:-translate-y-1 absolute bottom-6 left-0">
                                                    <div  class=" w-24 h-1/2 my-4 mx-4 border-4 rounded-t-lg rounded-b-lg p-5 pb-0 text-center border-green-500 bg-green-500 relative text-xs transition-all duration-300 before:w-0 before:h-0 before:absolute before:border-solid before:border-l-8 before:border-l-transparent before:border-r-8 before:border-r-transparent before:border-t-8 before:border-t-green-600 before:border-b-8 before:border-b-transparent before:right-1/2
                                                    before:-bottom-4">
                                                        <p class="top-0 absolute text-white text-xs normal-case">Compare</p>
                                                    </div>
                                                </div>
                                            </button>
                                            <button
                                            type="button"
                                            class="group/quickview -ml-0.5 inline-block border-2 border-primary px-3 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary bg-white hover:bg-gray-200"
                                            data-te-ripple-init
                                            data-te-ripple-color="light">
                                                <ion-icon name="eye-outline" class="text-green-500"></ion-icon>
                                                <div id="quickview-popup" class="opacity-0 group-hover/quickview:opacity-100 group-hover/quickview:transition-all group-hover/quickview:ease-out group-hover/quickview:duration-300 group-hover/quickview:transform group-hover/quickview:-translate-y-1 absolute bottom-6 left-9">
                                                    <div  class="w-24 h-1/2 my-4 mx-4 border-4 rounded-t-lg rounded-b-lg p-5 pb-0 text-center border-green-500 bg-green-500 relative text-xs transition-all duration-300 before:w-0 before:h-0 before:absolute before:border-solid before:border-l-8 before:border-l-transparent before:border-r-8 before:border-r-transparent before:border-t-8 before:border-t-green-600 before:border-b-8 before:border-b-transparent before:right-1/2
                                                    before:-bottom-4">
                                                        <p class="top-0 left-4 absolute text-white text-xs normal-case">Quick view</p>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </a>
                                </div>
                                <div class="top-0 left-0 absolute bg-pink-600 w-14 h-7 rounded-tl-3xl rounded-br-3xl ">
                                    <span class="px-4 text-xs font-quicksand text-white">Hot</span>
                                </div>
                            </div>
                            <!--Content product-->
                            <div class="pl-7 pr-20 py-5">
                                <div class="py-3">
                                    <a href="#" class="text-gray-500 text-base font-quicksand hover:text-emerald-600  transition-all duration-300">Hodo Foods</a>
                                </div>
                                <h2 class="mb-2">
                                    <a href="#" class="cursor-pointer text-4xl font-quicksand font-semibold text-gray-800 mt-6 hover:text-emerald-600 transition-all duration-300">{{name}}</a>
                                </h2>
                                <!--Product rate-->
                                <div class="flex">
                                    <!--Star-->
                                    <div class="flex mr-2">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-3 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                        </svg>
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-3 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                        </svg>
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-3 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                        </svg>
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-3 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"> 
                                            <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                        </svg>
                                        <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        data-prefix="fas"
                                        data-icon="star-half-alt"
                                        class="w-3 text-yellow-500"
                                        role="img"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 536 512"
                                      >
                                        <path
                                          fill="currentColor"
                                          d="M508.55 171.51L362.18 150.2 296.77 17.81C290.89 5.98 279.42 0 267.95 0c-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48C86.98 495.33 103.57 512 122.15 512c4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2l-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63-82.65 80.38z"
                                        ></path>
                                      </svg>
                                    </div>
                                    <div class="text-sm text-gray-400">(4.0)</div>
                                    <div class="pl-10 text-sm text-gray-500">{{mass}}g</div>
                                </div>
                                <!--Detail-->
                                <p class="text-gray-500 text-sm font-quicksand mt-6">
                                    {{description}}
                                </p>
                                <!--Product Cart-->
                                <div class="justify-center">
                                    <!--Product Price-->
                                    <div class="py-4">
                                        <span class="text-green-500 text-3xl font-quicksand">{{formatCurrency price 'VND'}}</span>
                                        {{!-- <span class="line-through pl-5 text-gray-400 font-semibold text-xl">{{formatCurrency discount 'VND'}}</span> --}}
                                    </div>
                                    <!--Add cart-->
                                    <div class="cursor-pointer mt-7">
                                        <a class="text-white py-3 px-7 font-quicksand font-bold bg-emerald-600 rounded-md hover:bg-orange-400 hover:text-white transition-all duration-300">
                                            <ion-icon name="cart-sharp" class="mr-1 text-xs"></ion-icon>Add to Cart
                                        </a>
                                        <a class="px-6 text-gray-500 font-quicksand font-bold">
                                            <ion-icon name="shuffle-outline" class="text-gray-500 text-xs mr-1"></ion-icon>Add compare
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
              
                <!--Pagination-->
                {{#if products.products}}
                <nav aria-label="Page navigation example" class="px-4">
                    <ul class="list-style-none flex space-x-2">
                        <li>
                            <a
                            class="pointer-events-none relative block mt-0.5 rounded bg-transparent px-3 py-1.5 text-xs text-neutral-500 transition-all duration-300 dark:text-neutral-400"
                            ><ion-icon name="arrow-back-outline"></ion-icon></a
                            >
                        </li>
                        <li>
                            <a
                            class="relative block rounded bg-transparent px-3 py-1.5 font-medium text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-100  dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                            href="#!"
                            >1</a
                            >
                        </li>
                        <li aria-current="page">
                            <a
                            class="relative block rounded-full bg-green-500 px-3 py-1.5 text-sm font-bold text-white transition-all duration-300"
                            href="#!"
                            >2
                            <span class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a
                            class="relative block rounded bg-transparent px-3 py-1.5 text-sm font-medium text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                            href="#!"
                            >3</a
                            >
                        </li>
                        <li>
                            <a
                            class="relative block rounded bg-transparent mt-0.5 px-3 py-1.5 text-xs text-neutral-600 transition-all duration-300 hover:bg-neutral-100 dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
                            href="#!"
                            ><ion-icon name="arrow-forward-outline"></ion-icon></a
                            >
                        </li>
                    </ul>
                </nav>
                {{/if}}

                <!--Deal of the day-->
                {{> categoryDetail/partials/dealsOfTheDay}}
            </div>
        </div>
    </main>
    <script type="text/html" src="jquery.js"></script>
</body>

{{/inline}}
{{/main}}