{{#> client}}
  {{#*inline "content"}}
    <section id='title' class="relative xl:-mt-7 overflow-hidden">
      <div class="container h-[350px] px-6 mx-auto flex items-center text-right justify-end">
        <div>
          <h1 class="text-4xl text-blue-500 leading-none mt-8 font-black gsap right">{{ language.page.Title }}</h1>
          <p class="text-gray-200 text-xl max-w-[600px] mt-2 gsap right">{{ language.page.Description }}</p>
        </div>
      </div>
      <img alt="{{title}}" class='lazy gsap zoom w-full h-[350px] object-cover absolute top-0 left-0 -z-10'
           src='/images/header.jpg'/>

    </section>
    <section class="bg-white w-full">
      <div class="container px-6 mx-auto sm:py-24 py-10">
        <div class="mb-10 grid gap-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
          {{#each JSON.detail}}
              <div class="handle-dialog drop-shadow bg-white rounded-xl p-5 hover:scale-110 duration-500 transition-all ease-in-out text-center lg:text-left cursor-pointer" data-id="{{id}}">
                  <img alt="{{name}}" class="handle-dialog lazy h-20 mb-5 mx-auto" data-src="{{image}}" data-id="{{id}}"/>
                  <h3 class="handle-dialog text-xl sm:text-2xl text-blue-500 gsap top font-medium text-center" data-id="{{id}}">{{translation.name}}</h3>
                  <p class="handle-dialog text-blue-900 text-lg mb-2 uppercase text-center" data-id="{{id}}">{{translation.position}}</p>
                  <p class="handle-dialog text-sm" data-id="{{id}}">{{translation.description}}</p>
              </div>
          {{/each}}
        </div>
      </div>
      <template id="template">
        {{{{raw-helper}}}}
          <div class="text-center pb-5">
            <img alt="{{translation.name}}" class="h-32 mx-auto" src="{{image}}" />
            <h3 class="text-xl text-blue-800 font-bold mb-1">{{translation.name}}</h3>
            <p class="text-blue-500 text mb-0 capitalize">{{translation.position}}</p>
          </div>
          <div class="html-render text-sm">{{{translation.content}}}</div>
        {{{{/raw-helper}}}}
      </template>
    </section>
    <!-- handlebars 4 -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4/dist/handlebars.js"></script>

    <script>
      window._DATA_ ={{{json JSON}}}
      Array.from(document.getElementsByClassName('handle-dialog')).forEach((el) => el.addEventListener('click', (e) =>  {
        const temp = document.getElementById("template");
        if (temp) {
          console.log(window._DATA_.detail);
          console.log(e);
          m.html(Handlebars.compile(temp.innerHTML)(window._DATA_.detail.filter((item) => item.id === e.target.dataset['id'])[0]));
        }

      }))
    </script>
  {{/inline}}
{{/client}}
