{{#> client}}
  {{#*inline "content"}}
    <section id='title' class="relative xl:-mt-7 overflow-hidden">
      <div class="container h-[350px] px-6 mx-auto flex items-center text-right justify-end">
        <div>
          <h1 class="text-4xl text-blue-500 leading-none mt-8 font-black gsap right">{{ language.page.Title }}</h1>
          <p class="text-gray-200 text-xl max-w-[600px] mt-2 gsap right">{{ language.page.Description }}</p>
        </div>
      </div>
      <img alt="{{title}}" class='lazy gsap zoom w-full h-[350px] object-cover absolute top-0 left-0 -z-10'
           src='/images/header.jpg'/>

    </section>
    <section class="bg-white w-full">
      <div class="container px-6 mx-auto sm:py-24 py-10">
        <div class="mb-10 grid gap-5 sm:gap-20 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2">
          {{#each JSON.detail}}
              <div class="flex items-center justify-center sm:py-5">
                  <img alt="{{name}}" class="lazy object-contain w-full" data-src="{{image}}" />
              </div>
          {{/each}}
        </div>
      </div>

    </section>

  {{/inline}}
{{/client}}
