{{#> client}}
  {{#*inline "content"}}
    <section id='title' class="relative xl:-mt-7 overflow-hidden">
      <div class="container h-[350px] px-6 mx-auto flex items-center text-right justify-end">
        <div>
          <h1 class="text-4xl text-blue-500 leading-none mt-8 font-black gsap right">{{ language.page.Title }}</h1>
          <p class="text-gray-200 text-xl max-w-[600px] mt-2 gsap right">{{ language.page.Description }}</p>
        </div>
      </div>
      <img alt="{{title}}" class='lazy gsap zoom w-full h-[350px] object-cover absolute top-0 left-0 -z-10'
           src='/images/header.jpg'/>

    </section>
    <section class="bg-white w-full">
      <div class="container px-6 mx-auto py-10">
        <h1 class="text-blue-800 text-4xl font-medium mb-7">{{detail.name}}</h1>
        <div class="html-render">
          {{{detail.translation.content}}}
        </div>
      </div>

    </section>

    <section class="bg-[url('/images/home/team-bg3.jpg')]">
      <div class="max-w-screen-xl px-6 mx-auto pt-10 pb-24">
        <h2 class="text-4xl text-blue-900 font-bold text-center mb-4">{{language.page.OtherRelated}}</h2>
        <div class="swiper relatedSwiper">
          <div class="swiper-wrapper">

            {{#each post}}
              <div
                class="swiper-slide flex flex-col relative border-2 border-sky-800 shadow-md rounded-2xl overflow-hidden">
                <img alt="{{translation.name}}" class="lazy w-full h-[400px] object-cover"
                     data-src="{{thumbnailUrl}}"/>
                <div class="p-5">
                  <div class="font-bold text-xl text-sky-800 mb-5 h-14 line-clamp-2">
                    <a class="text-left text-sky-800" href="/tin-tuc/{{translation.slug}}">
                      {{translation.name}}
                    </a>
                  </div>
                  <div class="text-black mb-5 text-sm line-clamp-5">
                    {{translation.description}}
                  </div>
                  <div class="flex justify-between">
                    <p
                      class="bg-slate-100 rounded-md flex items-center text-sky-800 w-max p-2 capitalize text-sm">
                      {{createdAt}}
                    </p>
                    <p class="flex items-center">
                      <a class="hover:text-sky-800 cursor-pointer" href="{{translation.slug}}">
                          {{SeeMore}}
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         x="0px" y="0px" width="384px"
                         height="384px" viewBox="0 0 384 384" enable-background="new 0 0 384 384"
                         xml:space="preserve" class="h-5 w-4 inline-block fill-blue-600">
                          <path
                            d="M251,192.2c-4.7-4.5-8.7-8.4-12.7-12.4C196,137.5,153.7,95.3,111.6,53c-2.1-2.2-3.9-5.3-4.5-8.3c-1-4.8,1.6-9,5.8-11.1c4.5-2.2,8.7-1.7,12.6,1.3c1,0.8,1.8,1.7,2.7,2.6c47.8,47.8,95.6,95.6,143.5,143.4c7.3,7.3,7.3,14.8,0,22.2C223.8,251,175.8,298.9,128,346.8c-3.6,3.6-7.4,6-12.6,4.5c-7.9-2.2-11.1-11.4-6.1-17.9c0.9-1.2,2-2.2,3.1-3.3c45.1-45.1,90.1-90.1,135.2-135.2C248.5,194.1,249.5,193.4,251,192.2z"/>
                          </svg>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            {{/each}}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section>
  {{/inline}}
{{/client}}
