<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="abstract" content="Thông tin nhà cho thuê Việt Nam" />
  <meta name="classification" content="Nhà cho thuê Việt Nam" />
  <meta name="area" content="Nhà đất và bất động sản" />
  <meta name="placename" content="Việt Nam" />
  <meta name="author" content="uhouse.vn" />
  <meta name="copyright" content="©2022 uhouse.vn" />
  <meta name="owner" content="uhouse.vn" />
  <meta name="generator" content="Công ty Cổ phần CrossTech Việt Nam" />


  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="" />

  <link rel="alternate" media="only screen and (max-width: 640px)" href="" />

  {{!--
  <meta name="custom-apple-itunes-app" content="app-id=100066412273414" /> --}}
  <meta name='keywords' content='Thông tin chi tiết phòng cho thuê giá rẻ.' />
  <meta name='description'
    content='Thông tin Phòng cho thuê {{bu.name}}. Cho thuê: Căn {{room.roomNumber}} diện tích siêu rộng {{room.acreage}}m² giá {{room.deposit}}tr bao gồm Phí quản lý' />

  <title>Cho thuê căn hộ {{bu.name}}, phòng {{room.roomNumber}}, địa chỉ {{bu.address}}, nhà mới nội thất cao cấp, DT
    {{room.acreage}}m2, 2PN, {{room.deposit}}tr/th, tiện ích 5*</title>

  <meta property="fb:app_id" content="100066412273414">
  <meta property="og:title" content="Phòng Cho Thuê Toàn Quốc Giá Rẻ | Thông Tin chính xác">
  <meta property="og:description"
    content="Thông tin phòng cho thuê giá rẻ toàn quốc, cập nhật thông tin thị trường nhanh nhất, chính xác nhất mỗi ngày.">
  <meta property="og:image"
    content="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/435319169_756748759882193_3437859165460282115_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=O_sox-CcGUoQ7kNvgHNOcWN&_nc_ht=scontent.fdad3-1.fna&oh=00_AfCFEwcrVdJ-l2NQMkAvpswkH67mdzCwUcYQEgrz7lX1Pg&oe=663F8146">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="315">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://uhouse.vn">

  <!--  line-swiper slide  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!--  vanilla-lazyload 17 -->
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17/dist/lazyload.min.js"></script>
  <script>
    setTimeout(() => {
      new LazyLoad({ callback_error: (el) => (el.src = 'https://via.placeholder.com/1x1/?text=') });
    }, 1000);
  </script>

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <!-- light box -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3/dist/css/glightbox.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
  <link rel='stylesheet' type="text/css" href='/css/style.css' />
  <script type='module' crossorigin src='/js/index.js'></script>




</head>

<body class="items-center ">
  <!--Header start-->
  {{> header/index}}
  <!--Header end-->

  <main class="container w-full mx-auto overflow-hidden">
    {{> body}}
  </main>

  <!--Footer start-->
  {{> footer/index}}
  <!--Footer end-->

  <!-- Icons -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- End Icons -->

  {{!--
  <script src="/js/index.js"></script> --}}
  <script>
    GLightbox({});
  </script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      var canonicalLink = document.querySelector('link[rel="canonical"]');
      var alternateLink = document.querySelector('link[rel="alternate"]');
      var actualUrl = window.location.href;
      canonicalLink.href = actualUrl;
      alternateLink.href = actualUrl;
    });
  </script>
</body>

</html>